/* Base Template Styling */

body {
    font-family: Playfair Display, serif;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

header {
    background-color: #333;
    color: white;
    padding: 40px 20px;
}

header h2 {
    font-size: medium;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

header ul li {
    display: inline;
    font-size: x-large;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    color: #333;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.btn-block {
    width: 100%;
    margin: 10px 0;
}

.btnView {
    background-color: #fab400;
    color: #333;
    height: 120px;
    padding: 40px;
    font-size: x-large;
}

.btnSearch {
    background-color: #fff;
    border-color: #fab400;
    border-width: 1px;
    color: #333;
    height: 120px;
    padding: 40px;
    font-size: x-large;
}

.btnAdd {
    background-color: #fab400;
    color: #333;
    height: 120px;
    padding: 40px;
    font-size: x-large;
}

.btnMain {
    background-color: #fab400;  
}

.btnSecond {
    background-color: #333; 
    color: #fff;
}

.container {
    max-width: 1200px;
}

.text-center {
    color: #555;
}

/* Banner Styling */

.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.banner-text {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2); /* Optional background for better readability */
    border-radius: 0px;
}

.banner h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    margin-top: 0;
}

/* HomePage Styling */

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


/* Book List Page Styling */

.bookList {
    list-style: none;
}

.bookListHeading h2 {
    font-weight: 900;
}

.searchBar {
    padding: 20px;
}

/* Book Detail Page Styling */


.bookDetailContainer {
    padding: 100px;
}

/* Book Search Page Styling */

.bookSearch {
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchResults ul {
    list-style: none;
    gap: 20px;
    padding: 0;
}

/* Login Page Styling */

/* Footer Styling */

footer {
    background-color: #fab400;
    color: white;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
}
