{% extends "base.html" %}
{% load static %}

{% block content %}
<div class= "pageWelcome container">
    <h1>About NovelNest</h1>
    <h2>The ultimate home for your books and reviews.</h2>
    <p> What you’ve read, plan what’s next, and share your love of stories with others.</p>
    </div>
<div class="container">
<div class="row text-center mt-4">
    <!-- Wish List Section -->
    <div class="col-md-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h3>NovelNest</h3>
            <h4>Welcome to the nest where your literary adventures take flight.</h3>
                <br>
            <p>Novelnest is your personal space to track, explore, and celebrate your reading journey. 
                Whether you’re diving into a classic or discovering the next bestseller, Novelnest helps you catalogue books you’ve read,
                create a wishlist of titles to explore, and share reviews with a vibrant community of book lovers. With intuitive tools
                to organise your library and personalised recommendations, we make it easy to nurture your love for reading—all in one place. 
            </p>            
        </div>
    </div>

    <div class="col-md-6">
        <img src="{% static 'assets/images/abouotnovelnest1.png' %}" alt="About Novel Nest" class="img-fluid rounded" loading="lazy">
    </div>
</div>
</div>
</div>
<!-- Navigation Buttons -->
<div class="row text-center mt-4">
    <div class="col-md-4">
        <a href="{% url 'book_add' %}">
            <img src="{% static 'assets/images/addanewbook.webp' %}" alt="Add a New Book" class="img-fluid" loading="lazy">
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'book_search' %}">
            <img src="{% static 'assets/images/searchbooks.webp' %}" alt="Search Books" class="img-fluid" loading="lazy">
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'book_list' %}">
            <img src="{% static 'assets/images/viewyourbook.webp' %}" alt="View Your Books" class="img-fluid" loading="lazy">
        </a>
    </div>


{% endblock %}
