{% extends "base.html" %}
{% load static %}

{% block banner_image %}{% static 'assets/images/novelnestbanner.png' %}{% endblock %}
{% block banner_title %}Book Information{% endblock %}
{% block banner_subtitle %}Find out more about the book and leave a review{% endblock %}

{% block content %}
<h1>Admin-Only Book List</h1>
<ul>
    {% for book in object_list %}
        <li>{{ book.title }} by {{ book.author }} - Status: {{ book.get_status_display }}</li>
    {% empty %}
        <li>No books available.</li>
    {% endfor %}
</ul>
<a href="{% url 'book_list' %}">Back to User Book List</a>
{% endblock %}
