{% extends "base.html" %}

{% block title %}Book List{% endblock %}

{% block content %}
    <h1>Book List</h1>
    <ul>
        {% for book in object_list %}
            <li>
                <a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a> by {{ book.author }} - Status: {{ book.get_status_display }}
                <a href="{% url 'book_edit' book.pk %}">Edit</a>
                <a href="{% url 'book_delete' book.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No books available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'book_add' %}">Add a New Book</a>
    {% endblock %}