{% extends "base.html" %}
{% load static %}

{% block banner_image %}{% static 'assets/images/bannernovelnest.png' %}{% endblock %}
{% block banner_title %}Your Book Collection{% endblock %}
{% block banner_subtitle %}View and manage your reading list{% endblock %}

{% block content %}
    <h1>Your Book List</h1>

    <!-- Search Bar -->
    <form method="get" action="{% url 'book_search' %}">
        <input
            type="text"
            name="q"
            placeholder="Search books..."
            value="{{ request.GET.q|default:'' }}"
        />
        <button type="submit">Search</button>
    </form>
<div class="bookListHeading row text-center mt-4">
    <div class="col-md-4">
    <h2>Wish List ({{ wish_list_count }})</h2>
    {% if wish_list_books %}
        <ul class="bookList">
            {% for book in wish_list_books %}
                <li>
                    <strong>{{ book.title }}</strong> by {{ book.author }} <br>
                    <a href="{% url 'book_detail' book.pk %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books in your wish list.</p>
    {% endif %}
    </div>
    
    <div class="bookListHeading col-md-4">
    <h2>Currently Reading ({{ reading_count }})</h2>
    {% if reading_books %}
        <ul class="bookList">
            {% for book in reading_books %}
                <li>
                    <strong>{{ book.title }}</strong> by {{ book.author }} <br>
                    <a href="{% url 'book_detail' book.pk %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not currently reading any books.</p>
    {% endif %}
    </div>
    
    <div class="bookListHeading col-md-4">
    <h2>Completed ({{ completed_count }})</h2>
    {% if completed_books %}
        <ul class="bookList">
            {% for book in completed_books %}
                <li>
                    <strong>{{ book.title }}</strong> by {{ book.author }} <br>
                    <a href="{% url 'book_detail' book.pk %}">View Details</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No completed books yet.</p>
    {% endif %}
    </div>
</div>
    
    <a href="{% url 'book_add' %}">Add a new book</a>
    {% endblock %}