{% extends "base.html" %}
{% load static %}

{% block banner_image %}{% static 'assets/images/bannernovelnest.png' %}{% endblock %}
{% block banner_title %}Book Information{% endblock %}
{% block banner_subtitle %}Find out more about the book and leave a review{% endblock %}

{% block content %}
    <h1>{% if object %}Edit Book{% else %}Add Book{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'book_list' %}">Cancel</a>
    {% endblock %}
