{% extends "base.html" %}
{% load static %}

{% block banner_image %}{% static 'assets/images/novelnestbanner.png' %}{% endblock %}
{% block banner_title %}Book Information{% endblock %}
{% block banner_subtitle %}Find out more about the book and leave a review{% endblock %}


{% block content %}
<div class="bookDetailContainer">
    <div class="row">
        <div class="col-sm-8">
<h1>{{ object.title }}</h1>
<p>Author: {{ object.author }}</p>
<p>Genre: {{ object.get_genre_display }}</p>
<p>Status: {{ object.status }}</p>
<a href="{% url 'book_edit' book.pk %}">Edit</a>
<a href="{% url 'book_delete' book.pk %}">Delete</a>
    </div>

    <div class="col-sm-4">
<h2>Reviews</h2>
{% if reviews %}
    <ul>
        {% for review in reviews %}
            <li>
                <strong>{{ review.user }}:</strong> {{ review.content }} <br>
                <small>Posted on {{ review.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No reviews yet. Be the first to review this book!</p>
{% endif %}

{% if review_form %}
<h2>Leave a Review</h2>
<form method="post">
    {% csrf_token %}
    {{ review_form.as_p }}
    <button type="submit" class="btn btn-primary">Submit Review</button>
</form>
{% endif %}
    </div>
        </div>
</div>


<a href="{% url 'book_list' %}">Back to Book List</a>
{% endblock %}
