{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="accountContainer">
    <div class="row justify-content-center">
        <div class="col-md-6">
          <h1>Delete Book</h1>
          <div class="p-4 shadow rounded bg-light">
            <p>Are you sure you want to delete "{{ object.title }}"?</p>
            <form method="post" class="d-flex align-items-center">
                {% csrf_token %}
                <button class="btn btnMain">Delete</button>
                <a class="btn btnSecond" href="{% url 'book_list' %}">Cancel</a>
            </form>
          </div>
        </div>
    </div>
  </div>
  

    <!-- Navigation Buttons -->
<div class="row text-center mt-4">
    <div class="col-md-4">
        <a href="{% url 'book_add' %}">
            <img src="{% static 'assets/images/addanewbook.webp' %}" alt="Add a New Book" class="img-fluid" loading="lazy">
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'book_search' %}">
            <img src="{% static 'assets/images/searchbooks.webp' %}" alt="Search Books" class="img-fluid" loading="lazy">
        </a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'book_list' %}">
            <img src="{% static 'assets/images/viewyourbook.webp' %}" alt="View Your Books" class="img-fluid" loading="lazy">
        </a>
    </div>

    {% endblock %}

