{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="welcome">
<h2>Welcome to NovelNest!</h2>
<p>Did a book change your life? Add it to your Novelnest and tell the world why!</p>
    </div>
    <!-- Navigation Buttons -->
    <div class="row text-center mt-4">
        <div class="col-md-4">
            <a href="{% url 'book_list' %}">
                <img src="{% static 'assets/images/viewyourbook.webp' %}" alt="View Your Books" class="img-fluid" loading="lazy">
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'book_search' %}">
                <img src="{% static 'assets/images/searchbooks.webp' %}" alt="Search Books" class="img-fluid" loading="lazy">
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'book_add' %}">
                <img src="{% static 'assets/images/addanewbook.webp' %}" alt="Add a New Book" class="img-fluid" loading="lazy">
            </a>
        </div>
        </div>
        <div>
            <a href="{% url 'signup' %}">
                <img class= "img-fluid" src="{% static 'assets/images/createaccount.webp' %}" alt="Novelnest" loading="lazy">
            </a>
        </div>

    <!-- Recently Added Books -->
<div class="bookCards">
    <h2 class="mt-6">Recently Added Books</h2>
    <div class="row">
        {% for book in recent_books %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text"><strong>Author:</strong> {{ book.author }}
                        <br>
                        <strong>Genre:</strong> {{ book.genre }}</p>
                        <a href="{% url 'book_detail' book.pk %}" class="btn btnMain">View Book</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No recent books available.</p>
        {% endfor %}
    </div>
</div>

<div>
        <img class= "imgCenter" src="{% static 'assets/images/NovelNest.webp' %}" alt="Novelnest">
</div>

    <!-- Top Reviewed Books -->
<div class="bookCards">
    <h2 class="mt-3">Top Reviewed Books</h2>
    <div class="row">
        {% for book in most_reviewed_books %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text"><strong>Author:</strong> {{ book.author }}
                            <br>
                            <strong>Genre:</strong> {{ book.genre }}</p>
                        <a href="{% url 'book_detail' book.pk %}" class="btn btnSecond">View Book</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No top-reviewed books available.</p>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}